<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Proveedores</h2>
    <ol class="breadcrumb">
      <li>
        <a>Contactos</a>
      </li>
      <li class="active">
        <strong>Agregar Proveedor</strong>
      </li>
    </ol>
  </div>
</div>

<%= render 'form', provider: @provider %>
