<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Dashboard Asistencia</h2>
    <ol class="breadcrumb">
      <li>
        <a>Asistencia</a>
      </li>
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">

    <div class="row">
      <div class="col-lg-4">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Top 10 Impuntualidad</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <table class="table table-hover no-margins">
              <thead>
              <tr>
                <th>Empleado</th>
                <th>Retrasos</th>
                <th>Entrada Promedio</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="font-bold"><i class="fa fa-level-down text-danger"></i> Samantha López</td>
                <td>10</td>
                <td><i class="fa fa-clock-o"></i> 08:20</td>
              </tr>
              <tr>
                <td class="font-bold"><i class="fa fa-level-down text-danger"></i> Monica Rdz</td>
                <td>8</td>
                <td><i class="fa fa-clock-o"></i> 09:10</td>
              </tr>
              <tr>
                <td class="font-bold"><i class="fa fa-level-down text-danger"></i> Marco Calzada</td>
                <td>3</td>
                <td><i class="fa fa-clock-o"></i> 09:30</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Top 10 Puntualidad</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <table class="table table-hover no-margins">
              <thead>
              <tr>
                <th>Empleado</th>
                <th>Entrada Promedio</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="font-bold"><i class="fa fa-level-up text-navy"></i> Samantha López</td>
                <td><i class="fa fa-clock-o"></i> 08:20</td>
              </tr>
              <tr>
                <td class="font-bold"><i class="fa fa-level-up text-navy"></i> Monica Rdz</td>
                <td><i class="fa fa-clock-o"></i> 09:10</td>
              </tr>
              <tr>
                <td class="font-bold"><i class="fa fa-level-up text-navy"></i> Marco Calzada</td>
                <td><i class="fa fa-clock-o"></i> 09:30</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
