<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="#page-top">¿Quienes Somos?</a></li>
          <li><a class="page-scroll" href="<%= home_landing_path %>">Inicio</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>
<div class="carousel carousel-fade" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <img src="<%= image_path('landing/logo_mini.png') %>" alt="logo"/>
          <h3>Acerca de Nosotros</h3>
        </div>
        <div class="carousel-image wow zoomIn">
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>¿Quienes Somos?</h1>
      </div>
    </div>
    <p>Creada como la conformación de varias empresas y bajo la tutela de INTERNET 21, Grupo Integral de Servicios –
      MEXGIS surge con la finalidad de atender el mercado de servicios de Infraestructura de Comunicaciones y
      Tecnologías de Información de empresas mexicanas.
      Desde sus inicios en 1999, INTERNET XXI ha ido fortaleciendo gradualmente su cartera de productos y servicios en
      beneficio de nuestros clientes, apoyando en el desarrollo, implementación y adaptación de las nuevas tecnologías
      en aras de hacer frente a la competitividad comercial, Internet XXI es una empresa mexicana con presencia a nivel
      nacional que proporciona a sus clientes, servicios y soluciones integrales de alta calidad, pendiente de los
      cambios y necesidades tecnológicas actuales y futuras que facilitan la adaptación a las nuevas realidades que
      plantea el mercado global
      Internet XXI cuenta con un grupo de especialistas comprometidos con su trabajo dedicados a proporciona productos y
      servicios de alta calidad en todas sus etapas, que van desde el mantenimiento preventivo y correctivo de la
      infraestructura de redes, renta y venta de equipo de cómputo y comunicaciones, implementación y administración de
      soluciones tecnológicas, venta de refacciones y componentes, venta de software, cableado estructurado, CCTV y
      sistemas de control de acceso, entre otras, a fin de atender la totalidad de los requerimientos de nuestros
      clientes.
      Internet XXI ha desarrollado a lo largo de su carrera importantes alianzas con los principales fabricantes de
      Hardware y Software, así como socios de negocios estratégicos, lo cual nos permite brindar a nuestros clientes una
      versatilidad de servicios y mejores soluciones tecnológicas del mercado.
    </p>
  </div>
</section>

<section style="margin-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Nuestros Valores</h1>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h2>Visión</h2>
      </div>
      <p>Ser una empresa reconocida en el mercado como integrador de soluciones tecnológicas en empresas privadas y
        entidades de gobierno, diferenciándonos por prestar un servicio excepcional y por ser un asesor tecnológico
        confiable, brindando apoyo a la ejecución de la estrategia de negocio de nuestros clientes.</p>
    </div>
    <div class="col-sm-6">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h2>Misión</h2>
      </div>
      <p>Somos un grupo de empresas con personal con amplia experiencia en servicios e instalación de infraestructura
        tecnológica de última generación para empresas de todos los sectores, nuestro reconocimiento está basado en
        poder diferenciarnos más allá del precio, en el valor que podamos aportar al cliente.</p>
    </div>
  </div>
</section>

<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Contactanos</h1>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-3 col-lg-offset-3">
        <address>
          <strong><span class="navy">Internet XXI.</span></strong><br/>
          [ Calle ]<br/>
          Estado de México<br/>
          <abbr title="Phone">Tel:</abbr> (123) 456-7890
        </address>
      </div>
      <div class="col-lg-4">
        <p class="text-color">
          Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam
          corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2020 Powered By Inspector Team</strong></p>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>

  <script type="text/javascript">


      $(function () {

          $('body').addClass('landing-page');
          $('body').attr('id', 'page-top');

          $('body').scrollspy({
              target: '.navbar-fixed-top',
              offset: 80
          });

          // Page scrolling feature
          $('a.page-scroll').bind('click', function (event) {
              var link = $(this);
              $('html, body').stop().animate({
                  scrollTop: $(link.attr('href')).offset().top - 50
              }, 500);
              event.preventDefault();
          });

          var cbpAnimatedHeader = (function () {
              var docElem = document.documentElement,
                  header = document.querySelector('.navbar-default'),
                  didScroll = false,
                  changeHeaderOn = 200;

              function init() {
                  window.addEventListener('scroll', function (event) {
                      if (!didScroll) {
                          didScroll = true;
                          setTimeout(scrollPage, 250);
                      }
                  }, false);
              }

              function scrollPage() {
                  var sy = scrollY();
                  if (sy >= changeHeaderOn) {
                      $(header).addClass('navbar-scroll')
                  } else {
                      $(header).removeClass('navbar-scroll')
                  }
                  didScroll = false;
              }

              function scrollY() {
                  return window.pageYOffset || docElem.scrollTop;
              }

              init();

          })();


      });

  </script>

<% end %>
