// Place all the styles related to the Employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require iCheck/custom.css
//= require steps/jquery.steps.css
//= require summernote/summernote-bs3.css
//= require summernote/summernote.css
//= require dropzone/basic.css
//= require dropzone/dropzone.css
//= require colorpicker/css/bootstrap-colorpicker.min.css
//= require cropper/cropper.min.css
//= require datapicker/datepicker3.css
//= require ionRangeSlider/ion.rangeSlider.css
//= require ionRangeSlider/ion.rangeSlider.skinFlat.css
//= require jasny/jasny-bootstrap.min.css
//= require nouslider/jquery.nouislider.css
//= require switchery/switchery.css
//= require chosen/chosen.css
//= require daterangepicker/daterangepicker-bs3.css
//= require clockpicker/clockpicker.css
//= require awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
//= require bootstrap-rtl/bootstrap-tagsinput

.index-profile-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show-profile-photo {
  @extend .index-profile-photo;
  border-radius: 25%;
}

.employer-information {
  text-align: center;
}

.employer-data {
  height: 75vh;
}

/*.wizard > .steps > ul > li, .wizard > .actions > ul > li {
  width: 20%;
}*/

.navy-line {
  width: 150px;
  height: 1px;
  margin: 0 auto 15px;
  border-bottom: 2px solid #3A9AB3;
}

fieldset > h2 {
  text-align: center;
}

.wizard > .content {
  @extend .content;
  height: 60vh;
  overflow: scroll;
}