<div class="footer">
  <div class="pull-right">
    <i class="fa fa-rocket"></i> <strong>Powered By</strong> Inspector Team &copy; 2020
  </div>
  <div>
    <strong>Internet XXI</strong>
  </div>
</div>
