<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Editar Cuenta</h2>
    <ol class="breadcrumb">
      <li>
        <a>Contabilidad</a>
      </li>
      <li class="active">
        <strong><%= @account.account_number %></strong>
      </li>
    </ol>
  </div>
</div>

<%= render 'form', account: @account %>